table,thead,tbody,td,tr,th{
    border-collapse: collapse;
    border: solid 2px rgba(57, 78, 122, 0.9);
    font-size: 14 px;
}
.search-input {
    width: 250px;
    height: 6vh;
    background-color: rgba(99, 124, 180, 0.9);
}
th {
    left: 3px;
}
table {
    width: 100%;
    background-color: rgba(28, 39, 62, 0.9);
}
@media (max-width: 800px){
    table{
        font-size: 13px;
    }
}
select,input,button {
    padding: 9px ;
    border-radius: 10px;
    width: 300px;
    margin: 9px;
    box-sizing: border-box;
    background-color: rgba(37, 51, 83, 0.9);
    color: white;
}
button {
    background-color: rgba(35, 53, 92, 0.9);
    box-shadow: 0 5px 30px rgba(0,0,0,4);
}
button:hover {
    transform: scale(1.03);
}

tr {
    height: 6vh;
}

input::placeholder {
    color: white;
}
.bouton-liste{
    margin: auto;
    width: 100px;
    height: 30px;
}

.bouton-liste1{
    margin: auto;
    width: 100px;
    height: 30px;
    background-color: brown;
    color: white;
}
span {
    margin-left: 10px;
}
.table-container {
    width: 100%;
    overflow-y: auto;
}
.div-matiere{
    width: 100%;
}
.ajout-matiere {
    width: 100%;
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgba(30, 42, 67, 0.9);
    height: 45vh;
}
.liste-matiere {
    width: 100%;
}
th {
    height: 35px;
    background-color: rgba(30, 42, 67, 0.9);
    color: white;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.bouton-resultat{
    margin: 3px;
    width: 100px;
    height: 30px;
}
.bouton-resultat1{
    margin: 3px;
    width: 100px;
    height: 30px;
    background-color: brown;
}
.note-container {
    width: 100%;
    border: solid 2px white;
    background-color: rgba(30, 42, 67, 0.9);
    border-radius: 10px;
    height: 100%;
}

/**dashboard*/
.container-nombre {
    width: 300px; 
    border: solid 2px rgba(30, 42, 67, 0.9);
    height: 20vh;
    background-color: rgba(22, 31, 49, 0.9);
    border-radius: 30px;
    text-align: center;
    margin: 10px;
}
.container-nombre:hover {
    transform: scale(1.10);
}
.container-nombre strong {
    font-size: 40px;
}

 /*nombre d'etudiant par mention*/
.card {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 0px;
    margin-bottom: 6px;
    align-items: center;
}
.card span{
    width: 100%;
    margin: auto; 
    font-size: 25px;
}
.container-nombre2 {
    width: 300px; 
    border: solid 2px rgba(30, 42, 67, 0.9);
    background-color: rgba(22, 31, 49, 0.9);
    border-radius: 35px;
    margin: 10px;
    
}
.container-nombre2:hover {
    transform: scale(1.04);
}
.container-nombre2 h3 {
    font-size: 13px;
}

.container-nombre2 h4{
   color: rgb(25, 236, 236);
}
.container-nombre h4{
    color: rgb(25, 236, 236);
 }
/*dashboard pour select */

.select-dashboard-resultat select {
    width: 150px;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    font-size: 13px;
    margin: 4px;
}
.select-dashboard-resultat {
    margin-left: 25%;
}
.dashboard-resultat {
    margin-top: 4px;
}
.dashboard-resultat{
    display: flex;
    
}
.dashboard{
    display: flex;
}
.second-container {
    display: flex;
}
.pourcentage {
    width: 300px; 
    border: solid 2px rgba(30, 42, 67, 0.9);
    background-color: rgba(22, 31, 49, 0.9);
    border-radius: 35px;
    margin: 10px;
}
.pourcentage h4 {
    color: rgb(25, 236, 236);
}
.pourcentage:hover {
    transform: scale(1.04);
}
.pourcentage strong {
    font-size: 40px;
    margin: auto;
}
.pourcentage h5 {
    margin-left: 40px;
    font-size: 13px;
}
@media (max-width: 900px) {
    .card {
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 0px;
        margin-bottom: 4px;
           
    }
    .pourcentage strong {
        font-size: 35px;
    }
    .pourcentage h5 {
        display: none;
    }
    .container-nombre2 {
        display: none;
    }
    .pourcentage {
        height: 42vh;
    }

   
 }
 .message-erreur {
    color: red;
 }

 .form_login{
    width: 60%;
    border: solid 2px;
    margin: auto;
    border-radius: 30px;
    margin-top: 70px;
    background-color: rgba(22, 31, 49, 0.9);
    height: 60vh;
 }
 .form_creation {
    width: 60%;
    border: solid 2px;
    margin: auto;
    border-radius: 30px;
    margin-top: 70px;
    background-color: rgba(22, 31, 49, 0.9);
    height: 75vh;
 }
 .bouton_connexion {
    width: 200px;
 }
 .action{
    width: 250px;
 }



